body {
	background-color: black;
	font-size: 120%;
}

p, h1, h2, h3, h4, h5, h6 {
	color: white;
}

h1 {
	font-size: 33px;
	color: orangered;
}

h2 {
	color: deepskyblue;
}

h3 {
	color: lightsalmon;
}

p {
	line-height: 150%;
}

.footnote {
	background-color: dimgray;
}


code {
	background-color: dimgrey;
	white-space: nowrap;
	font-size: 107%;
}
